@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#cae4e7] font-mono;
}

input {
  @apply w-full border-2 rounded-md bg-inputNormal border-inputNormal focus:border-[#8ac6bb] 
    outline-none px-2 py-1 text-lg text-right transition-all caret-buttonNormal text-buttonNormal font-extrabold;
}

button {
  @apply rounded-md text-lg py-2 transition-all active:scale-95;
}

a {
  font-weight: bold;
  color: #446263
}

.container {
  @apply grid grid-cols-2 gap-8 bg-white shadow-xl rounded-2xl flex-1 w-full p-8;
  grid-template-columns: auto 1fr;
}